
@{
    ViewBag.Title = "Add Vote";
}

<h2>@ViewBag.Title</h2>

<p>
	<div>
		@Html.ActionLink("Home", "../")
	</div>
</p>

<div>
	<form action="/Games/AddVote" method="post">
		Enter the id of the game:
		<input id="Id" name="Id" type="text" value="" />
		<input type="submit" value="Submit" />
	</form>
</div>