@{
	ViewBag.Title = "Clear Games";
}

<h2>
	@ViewBag.Title
</h2>

<div>
	<p>
		@Html.ActionLink("Home", "../")
	</p>
</div>

<div>
	<form action="/Games/ClearGames" method="post">
		The following action cannot be undone.  Click submit to clear all games.
		<input type="submit" value="Submit" />
	</form>
	<p>
		@ViewBag.StatusMessage
	</p>
</div>