@{
	ViewBag.Title = "Set Got It";
}

<h2>
	@ViewBag.Title
</h2>

<div>
	<p>
		@Html.ActionLink("Home", "../")
	</p>
</div>

<div>
	<form action="/Games/SetGotIt" method="post">
		Enter the id of the game:
		<input id="Id" max="2147483647" name="Id" type="number" value="" />
		<input type="submit" value="Submit" />
	</form>
	<p>
		@ViewBag.StatusMessage
	</p>
</div>