@{
	ViewBag.Title = "GameNAT - XBox Game Management System";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		<h1>Welcome to @ViewBag.Title</h1>
	</div>
</body>
</html>
