html, body
{
	height: 100%;
}
	
body
{
	margin-left:auto;
	margin-right:auto;
	width:60%;
	padding: 0px;
	background: #333333;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #656565;
}

h1
{
	text-align:center;
	font-weight: 700;
	color: #C4376B;
}

h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #C4376B;
}

p, ol, ul
{
	margin-top: 0;
}
	
ol, ul
{
	/*padding: 0;*/
	/*list-style: none;*/
}
	
ul.actions
{
	text-align: center;
}
		
ul.actions li
{

}
	
p
{
	line-height: 180%;
}
	
strong
{
}
	
a
{
	color: #0094ff;
}
	
a:hover
{
	text-decoration: none;
}
	
.container
{
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
	background: #333333;
}

#header
{
	background:#FFFFFF;
	border-radius:15px;
	position: relative;
	padding: 1em 0em;
}

#content 
{
	margin-top:25px;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
